/* Estilos generales */
body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "HP Simplified", sans-serif;
}

h1 {
    text-align: left;
    margin-left: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

form {
    width: 400px;
    text-align: left;
    margin: 20px;
    border-radius: 5px;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border-radius: 5px;
}
input[type="password"],
input[type="text"],
input[type="email"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

p.message a
{
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

a {
    color: #FFA500;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos de fondo coloridos */
header {
    background-color: #FFA500;
    padding: 10px;
}

form {
    background-color: rgb(215, 190, 50);
    padding: 20px;
}

a:hover,
input[type="submit"]:hover {
    background-color: #FF8C00;
    color: white;
    border-radius: 5px;
}

a:active,
input[type="submit"]:active {
    background-color: #FF4500;
    border-radius: 5px;
}

/*estilos del nav*/

nav {
    background-color: rgba(243, 135, 66, 0.55);
    color: rgb(82, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 223, 70, 0.76);
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}
.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(238, 119, 57, 0.6);
}

.container > div {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.container > div:first-child {
    border-right: 1px solid #ccc;
}

h2 {
    color: #d7be32;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav {
        padding: 10px 0;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav li {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    nav h1 {
        font-size: 20px;
        text-align: center;
    }
}